@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Lato;
	scroll-behavior:smooth;
    /* border: 1px solid red; */
}

body {
    background-color: #9A9FFD;
}

.menu {
    background-color: #272B7D;
    display: flex;
    padding: 2rem 2rem 2.5rem 2rem;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    /* position: fixed;
	z-index: 9999; */
}

.menu a {
    margin: 0 2rem 0 2rem;
    text-decoration: none;
    color: #ffffff;
}

.menu a:hover {
    margin: 0 2rem 0 2rem;
    text-decoration: none;
    color: #9A9FFD;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.header-container {
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    /* vertical-align: middle; --- Aqui eu queria deixar tudo no meio (considerando o 55vh desta classe) e remover a margem da coluna esquerda (57). */
}

.presentation {
    display: flex;
    align-items: center;
}

.column-left {
    width: 50%;
    text-align: right;
    padding: 1rem 2rem 1rem 1rem;
    margin: 11rem 0 11rem 0;
}

.column-left h1 {
    color: #272B7D;
    font-size: small;
    padding: 1rem 0 .4rem 0;
    font-weight: 900;
}

.column-left h2 {
    color: #ffffff;
    padding: 0 0 .4rem 0;
    font-weight: 700;
    font-size: 3rem;
}

.column-left p {
    color: #ffffff;
    padding: 0 0 1rem 20rem;
    line-height: 1.7rem;
    font-size: 1.1rem;
}

.column-left button {
    background-color: #272B7D;
    border: solid 1px #272B7D;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1.3rem .5rem 1.3rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.column-left button:hover {
    background-color: #4C4F7D;
    border: solid 1px #4C4F7D;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1.3rem .5rem 1.3rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.column-right {
    width: 50%;
    padding: 0 0 0 2rem;
}

.column-right img {
    width: 150px;
}

.column-right p {
    color: #272B7D;
    font-size: 15px;
    padding: 1rem 0 0 1rem;
}

h3 {
    padding: 5rem 0 0 0;
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    background-color: #272B7D;
    padding: 3rem 3rem 3rem 3rem ;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #272B7D;
    padding: 0 3rem 3rem 3rem ;
}

.skill {
    text-align: center;
    padding: 2rem 0 2rem 0;
    color: #ffffff;
}

.skill p {
    padding: 1rem 0 0 0;
    font-size: 20px;
}

.skills img {
    height: 50px;
    padding: 0 0 .5rem 0;
}

.skills div.skill {
    width: 7rem;
    box-shadow: 0 0 1em #00000075;
	border-radius: 15px;
	padding: 1.5rem;
	margin: 3rem 0 1rem 0;
	background-color: #4C4F7D;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

h4 {
    padding: 5rem 0 0 0;
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    background-color: #272B7D;
    padding: 3rem 3rem 3rem 3rem ;
}

.tecnologies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #272B7D;
    padding: 0 3rem 3rem 3rem ;
}

.tecnology {
    text-align: center;
    padding: 2rem 0 2rem 0;
    color: #ffffff;
}

.tecnology p {
    padding: 1rem 0 0 0;
    font-size: 20px;
}

.tecnologies img {
    height: 50px;
    padding: 0 0 .5rem 0;
}

.tecnologies div.tecnology {
    width: 7rem;
    box-shadow: 0 0 1em #00000075;
	border-radius: 15px;
	padding: 1.5rem;
	margin: 3rem 0 1rem 0;
	background-color: #4C4F7D;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
}

h5 {
    padding: 5rem 0 3rem 0;
    color: #ffffff;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
}

.form-body {
	display: flex;
	flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-body input {
	width: 100%;
	padding: .4rem;
	font-size: 1rem;
	outline: none;
	border-radius: 5px;
	border: solid 1px rgb(67, 67, 67);
	margin: 0 0 .5rem 0;
}

.form-body label {
	color: rgb(67, 67, 67);
	font-weight: 600;
	font-size: .9rem;
}

.form-body button {
    background-color: #272B7D;
    border: solid 1px #272B7D;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1.3rem .5rem 1.3rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form-body button:hover {
    background-color: #4C4F7D;
    border: solid 1px #4C4F7D;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: .5rem 1.3rem .5rem 1.3rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media img {
    height: 30px;
    margin: 0 .5rem 1rem .5rem;
}

footer {
	background-color: #19181D;
	padding: 4rem;
	text-align: center;
	color: #fff;
	font-size: 1rem;
	margin-top: 5rem;
  }
  
  footer a {
	text-decoration: none;
	color: #fff;
  }
  
  footer a:hover{
	color: #19181D;
  }

  @media only screen and (max-width: 600px) {
    .header-container {
        display: flex;
        flex-direction:column;
        height: 100%;
        width: 100vw;
    }

    .column-right {
        display: none;
    }

    .column-left {
        width: 100%;
        text-align: left;
    }

    .column-left h1 {
        font-size: 20px;
    }

    .column-left h2 {
        font-size: 60px;
    }

    .column-left p {
        text-align: left;
        padding: 0 0 0 0;
        font-size: 35px;
        line-height: 2.7rem;
        padding-bottom: 2rem;
    }

    .column-left button {
        width: 15rem;
        height: 5rem;
        font-size: 30px;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
    }

    .tecnologies {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-form {
        display: flex;
        flex-wrap: wrap;
        
    }

    .contact-form button {
        width: 15rem;
        height: 5rem;
        font-size: 30px;

    }
    
  }


